.button{
    // background-color: lighten(blue,20%);
    background-color: $blue;    
    color:white;
    border:none;
    margin-bottom: 0.3rem ;
    padding:$s-size;
    //موارد اول تا سوم از زیر برای لینک ها ست شده تا از مارجین و پدینگ  پشتیبانی کنند و خط زیر متن حذف شود
    display: inline-block;
    text-decoration:none;
    line-height: 1;
    //
    font-weight: 300;
    // font-size: 17px
    font-size:$font-size-large;
}
.button--link{
    background: none;
}
.button--secondary{
    background-color: #888888;
}
.button--2{
    width:25vw;
    margin-bottom: 0;
}
.button-group4{
    margin-top: 3rem;
}